# SPDX-License-Identifier: MIT

name: Lints

on:
  schedule:
    # Run each Sun
    - cron: '0 0 * * 0'
  push:
  pull_request:
  workflow_dispatch:

env:
  PYTHONPATH: src:test

jobs:
  pylint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.2
  
      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Black code format checker
        run: |
          pip install black
          black --check src test
      - name: Run Pylint static code analyser
        run: |
          pip install coverage pylint
          pylint src/facere_sensum test fsy.py
      - name: Run Bandit security analyser
        run: |
          pip install bandit
          bandit -r src/facere_sensum
          bandit -r test
          bandit fsy.py
      - name: Dry-run Sphinx documentation generator
        run: |
          pip install sphinx
          sphinx-build -b html -n -W doc tmp
