# SPDX-License-Identifier: MIT

name: Tests

on:
  schedule:
    # Run each Sun
    - cron: '0 0 * * 0'
  push:
  pull_request:
  workflow_dispatch:

env:
  PYTHONPATH: src:test
  COVERAGE_PROCESS_START: .coveragerc

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.5.2

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          pip install coverage
          python test/test.py
          coverage combine
          coverage report --fail-under=90
          coverage xml coverage.xml

      - name: Report code coverage for PRs
        if: ${{ github.event_name == 'pull_request' }}
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
